.board {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
}

.rockGrid {
  display: grid;
  grid-template-columns: var(--col-size) var(--col-size);
  grid-template-rows: var(--row-size) var(--row-size);

  border: dashed 1px rgba(0, 0, 0, 0.2);

  --border-style: solid 1px black;

  & div:nth-child(1) {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
  }
  & div:nth-child(2) {
    border-bottom: var(--border-style);
  }
  & div:nth-child(3) {
    border-right: var(--border-style);
  }
}
