.board {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.rockGrid {
  display: grid;
  grid-template-columns: 25px 25px;
  grid-template-rows: 25px 25px;

  border: dashed 1px rgba(0, 0, 0, 0.2);

  --border-style: solid 1px black;

  & div:nth-child(1) {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
  }
  & div:nth-child(2) {
    border-bottom: var(--border-style);
  }
  & div:nth-child(3) {
    border-right: var(--border-style);
  }
}
