.stone {
  border-radius: 50%;
  width: calc(var(--col-size) * 1.5);
  height: calc(var(--row-size) * 1.5);
  transform: translate(13%, 13%);
}

.stone.black {
  background-color: black;
}

.stone.white {
  background-color: white;
  border: solid 1px black;
}
